<footer class="bg-dark text-white py-2">
  <div class="container text-center">
    <h5>Follow Us</h5>
    <div class="d-flex justify-content-center gap-4 fs-4">
      <a href="#" (click)="$event.preventDefault()" class="text-white">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" (click)="$event.preventDefault()" class="text-white">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" (click)="$event.preventDefault()" class="text-white">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
    <p class="mt-4 small">&copy; 2025 Products. All rights reserved.</p>
  </div>
</footer>
